{erl_first_files, [gen_http_api]}.
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
 	{cowboy, ".*",	{git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
    {jsx, "0.9.1", {git, "git://github.com/ten0s/jsx.git", {tag, "v0.9.1"}}},
	{uuid, ".*", {git, "https://github.com/PowerMeMobile/uuid.git", {branch, "master"}}}
]}.
