{erl_first_files, [gen_http_api]}.
{erl_opts, [
	warn_export_all,
	warn_missing_spec
]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{cowboy, "0.8.6",	{git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
	{jsx, "0.9.1", {git, "git://github.com/ten0s/jsx.git", {tag, "v0.9.1"}}},
	{libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git", {branch, "master"}}}
]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
